{% load static %}
<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julia Mol</title>
    <link rel="stylesheet" href="{% static '/styles/style_index.css' %}">
</head>

<body>
    <section class="pagina-inicial">
       <section class="pagina-inicial__primeiro-scrol">
            <ul class="pagina-inicial__primeiro-scrol__menu">
                <li><a href=""><h4>Home</h4></a></li>
                <li><a href="accounts/cadastro"><h4>Cadastro</h4></a></li>
                <li><a href="accounts/login"><h4>Portal do aluno</h4></a></li>
                <li><a href="Servicos"><h4>Serviços</h4></a></li>
                <li><a href="Sobre"><h4>Sobre</h4></a></li>
                <li><a href="Contatos"><h4>Contato</h4></a></li>
            </ul>

            <section class="pagina-inicial__primeiro-scrol__conteudo">
                <div class="pagina-inicial__primeiro-scrol__conteudo__texto">
                    <h3>Teacher Julia</h3>
                    <h3>Odissey School</h3>
                    <strong>    
                        <h1> I'M GLAD TO</h1>
                        <h1>HAVE YOU HERE!</h1>
                    </strong>
                    <h3>É incrível ter você aqui!</h3>
                </div>
            </section>
        </section>
    </section>
</body>
</html>